body{
    font-family: Arial;
}
#header{
    width:100%;
    height:80px;
    border-bottom:1px solid black;
    margin-bottom:30px;
}
#header h1{
    font-size: 20px;
    display: inline;
    float:right;
    position:relative;
    top:30px;
    right:170px;
}
#header img{
    margin-top:10px;
    margin-left:100px;
    display:inline;
}
#wrapper{
    width:90%;
    margin:auto;
}
#wrapper .formFilter{
    
}
#wrapper .formFilter > div{
    float:left;
    margin-right:80px;
}
#wrapper .formFilter > div > label{
    display:block;
}
#wrapper fieldset#formFilter{
    border:1px solid #333333;
    -moz-border-radius:6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    padding:20px;
}
#wrapper #listaReparaciones{
    margin-top:20px;
}
table.records_list{
    border-collapse: collapse;
}
table.records_list th{
    background-color:#ccccff;
    font-weight: bold;
    text-align: center;
}
table.records_list th, table.records_list td{
    padding:3px;
    border:1px solid #333333;
}

a.button,input[type="submit"],button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
}a.button:hover,input[type="submit"]:hover,button:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}a.button:active,input[type="submit"]:active,button:active{
	position:relative;
	top:1px;
}
#wrapper .formularioGeneral{
    width:400px;
    margin:auto;
}
#wrapper .formularioGeneral label{
    width:200px;
    display:inline-table;
    margin-bottom:6px;
}
